:root {
    --index-horizontal-padding: 1.8rem;
    --index-a-margin: .8rem;
    --horizontal-padding-photocard: 10%;
    --vertical-padding-photocard: 2.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-dark);
}

img {
    pointer-events: none;
}

/* Top Image with Name */
.TopImgContainer {
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
}

.TopImgContainer img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -2;
}

.TopImgContainer video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -2;
}

.Vid1 {
    pointer-events: none;
}

.left-index-text {
    width: 42%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 8%;
}

.title {
    margin-top: 14vh;
    position: absolute;
    text-align: center;
    cursor: pointer;
    margin-left: -25%;


}

.left-index-text h1 {
    line-height: 150%;
    color: var(--font-color-bright-primary);
    font-size: 7vw;

    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.name-executor {
    height: 65%;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 45%;

    border-radius: 0 0 60% 0;
    transform: translate(-50%, -50%);
}

.left-index-text a {
    align-self: stretch;
    position: relative;
    top: calc(100% - 3 * var(--font-size-secondary-elements) - 18%);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-secondary-elements);
    padding-left: var(--index-horizontal-padding);
    padding-right: var(--index-horizontal-padding);
    margin-bottom: var(--index-a-margin);
    width: fit-content;
}

.left-index-text :nth-child(2) {
    margin-left: calc(0rem - var(--index-horizontal-padding));

}

.left-index-text :nth-child(4) {
    margin-left: var(--index-horizontal-padding);

}

.left-index-text a:hover {
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    border-radius: 1vw;
    color: var(--primary-color);
}

.line-0 {
    visibility: hidden;
    opacity: 0;
    position: relative;
    border-bottom: 1px solid var(--primary-color);
    max-width: 28vw;
    height: 0px;
    margin-bottom: 1rem;
    left: 50%;
    transform: translate(-49%, -13vw);
    align-self: center;
    text-align: center;
    transition: 300ms;
}

.line-1 {
    visibility: hidden;
    opacity: 0;
    position: relative;
    border-bottom: 1px solid var(--primary-color);
    width: 42vw;
    height: 0px;
    margin-bottom: 1rem;
    left: 50%;
    transform: translate(-45%, -2vw);
    align-self: center;
    text-align: center;
    transition: 300ms;

}


.IndexPhotoGridContainer {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 40%;
    height: 80%;
    background-color: blue;

}

.IndexPhotoGrid {
    display: grid;
    position: absolute;
    top: 14%;
    right: 5%;
    padding: 1%;
    grid-template-columns: auto auto auto;
    column-gap: 2%;
    width: 40%;
    transition: 300ms;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .8);
    border-radius: 1vw;
}

.PhotoCard {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}

.PhotoCard img {
    width: 100%;
    vertical-align: middle;
    margin: 2%;
    aspect-ratio: 3 / 2;
    cursor: pointer;
}

.PhotoCard p {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(5px);
    color: var(--font-color-bright-primary);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    max-width: 100%;
    text-align: center;
    font-size: 1.5vw;
    padding-left: var(--horizontal-padding-photocard);
    padding-right: var(--horizontal-padding-photocard);
    padding-bottom: var(--vertical-padding-photocard);
    padding-top: var(--vertical-padding-photocard);
    border-radius: 1rem;
    transition: 300ms;
    cursor: pointer;
}

.PhotoCard:hover p {
    visibility: visible;
    opacity: 1;
}

.IndexVideoFlex {
    position: absolute;
    display: flex;
    top: 12%;
    right: 10%;
    width: 32%;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .8);
    border-radius: 1vw;
}

.VideoCard {
    margin-top: 5%;
    margin-bottom: 5%;
}

.VideoCard video {
    width: 100%;

}

.Index-CGI-Grid {
    display: grid;
    position: absolute;
    top: 14%;
    right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    grid-template-columns: auto auto;
    column-gap: 2%;
    width: 40%;
    transition: 300ms;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .8);
    border-radius: 1vw;
}

.CGI-Card {
    margin: 5%;
    cursor: pointer;
}

.CGI-Card video {
    width: 100%;
    vertical-align: middle;
    margin: 2%;
    aspect-ratio: 16 / 9;
    pointer-events: none;
}


.IndexAboutMeContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35%;
    top: 9%;
    right: 10%;
    height: 80%;
    justify-content: space-between;
    transition: 300ms;
    margin-top: 3%;
}

.IndexAboutMeContainer p {
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    align-self: flex-end;
    text-align: end;
    font-size: 3vw;
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .8);
    width: fit-content;
    border-radius: 1vw;
    color: var(--primary-color);
    cursor: pointer;
}

.IndexAboutMeContainer a {
    text-align: justify;
    font-size: 2vw;
    color: white;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 1vw;
    cursor: pointer;
}

.AboutMeDescription {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .8);
}

.Contacts {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .8);
    border-radius: 1vw;
}

.Contacts a {
    font-size: 1.5vw;
    padding-bottom: 1%;


}

.arrow-down {
    z-index: 0;
    position: absolute;
    bottom: calc(0% - 2rem);
    left: calc(50% - 1.5rem);
    transform: rotate(90deg);
    color: white;
    font-size: 6rem;
    line-height: 0%;
    background-color: rgba(255, 255, 255, .05);
    padding-left: 1rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: pointer;
    backdrop-filter: blur(5px);
    /* Makes text unselectable */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    transition: 300ms;
}

.arrow-down:hover {
    background-color: rgba(255, 255, 255, .2);
}

.arrow-down:hover a {
    color: var(--primary-color);
}

/* Top Image with Name Ends*/

.row {
    margin-top: 3rem;
}





/* JavaScript related Classes*/
.index-hidden {
    visibility: hidden;
    opacity: 0;

}

.index-visible {
    opacity: 1;
    transition: 300ms;
    visibility: visible;
}


@media screen and (max-width:753px) {
    .TopImgContainer .Name {
        max-width: 100%;
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0);

    }

    .TopImgContainer .Name h1 {
        font-size: 13vw;
    }

    .line-1 {
        position: relative;
        border-bottom: 1px solid var(--primary-color);
        width: 75vw;
        margin-bottom: 1rem;
        left: 50%;
        transform: translate(-50%, -3vw);
        align-self: center;
        text-align: center;

    }

    .line-0 {
        position: relative;
        border-bottom: 1px solid var(--primary-color);
        max-width: 51vw;
        margin-bottom: 1rem;
        top: 15%;
        left: 50%;
        transform: translate(-49%, -25vw);
        align-self: center;
        text-align: center;
    }

    .TopImgContainer .Categories {
        bottom: 13%;
    }

    .TopImgContainer .Categories a {
        font-size: 8vw;
        font-weight: bold;

    }

    .IndexPhotoGridContainer {
        visibility: hidden !important;
        opacity: 0 !important;
    }

}