.slide-visible {
    visibility: visible;
    opacity: 1;
    transition: 1s;
    object-position: center;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slide-hidden {
    object-position: top;
    visibility: hidden;
    opacity: 0;
}

#webdev-vid {

    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */

}