:root {
    --about-us-padding-horizontal:2rem;
    --about-us-padding-vertical:.5rem
}
body {
    background-color:rgb(218, 218, 218) ;
    
}
.about-us-container {
    height: 100vh;
    display: flex;
    object-position: center;
    justify-content: center;
    overflow: hidden;
}
.about-us-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}
.about-us-container img {
    height: 87%;
    position: relative;
    top: 13%;  
}
.about-us-background-filter {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(1px);
    z-index: -1;
}
.about-us-text-container {
    z-index: 1;
    color: white;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(5px);
    padding-left: var(--about-us-padding-horizontal);
    padding-right: var(--about-us-padding-horizontal);
    padding-top: var(--about-us-padding-vertical);
    padding-bottom: var(--about-us-padding-vertical);
    /* border-radius: var(--border-radius-button); */
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.about-us-text-container h1 {
    text-align: center;
    font-size: calc(2 * var(--font-size-primary-elements));
    font-family: var(--main-font-family);
}
.about-us-title {
    color: black;
    position: relative;
}
.about-us-description-container {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    padding-left: var(--padding-horizontal-nav-container);
    padding-right: var(--padding-horizontal-nav-container);
}
.about-us-description-container video {
    position: absolute;
    height: 100%;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
}
.about-us-description-container p {
    font-size: var(--font-size-secondary-elements);
    font-family: var(--main-font-family);
    color: var(--font-color-dark-secondary);

}
.about-us-description-container h2 {
    font-size: calc(1.5 * var(--font-size-primary-elements));
    font-family: var(--main-font-family);
    color: var(--font-color-dark-primary);
    margin-bottom: 2rem;

}
.description-text-container {
    position: relative;
    display: grid;
    margin-left: 8%;
    width: 40%;
    top: 50%;
    height: fit-content;
    gap: 2rem;
    transform: translateY(-50%);
}
.description-text-container-right {
    position: relative;
    display: grid;
    left: 100%;
    margin-left: -8%;
    width: 40%;
    top: 50%;
    height: fit-content;
    gap: 2rem;
    transform: translate(-100%, -50%);
}
.mask-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 12%);
    mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 12%);
}
.mask-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 12%, rgba(0,0,0,1) 88%, rgba(255,255,255,0) 100%);
    mask-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 12%, rgba(0,0,0,1) 88%, rgba(255,255,255,0) 100%);
}