body {
    background-color: rgb(250, 250, 250);
}

.about-me-main-container {
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: calc(100vh - var(--nav-bar-height));
    margin-top: 3rem;
    padding-right: 8vw;
    padding-left: 8vw;
}

.about-me-main-container h1 {
    margin-bottom: 3rem;
    font-size: 8rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.about-me-left-side {
    height: 100%;
    padding-right: 8%;
}

.about-me-description {
    height: 100%;
    padding-left: 8%;
    margin-bottom: 8rem;
}



.about-me-description p {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

.contact {
    display: grid;
    gap: 5rem;
}

.contact p {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

.contact>div {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
}